<!DOCTYPE html>
<html>
  <head>
    <title>Email cadastrados</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1>Email cadastrados</h1>
    <u1>
     <li><a href='/listar'>Lista de email</a></li>
   </u1>
  </body>
</html>
