<!DOCTYPE html>
<html>
    <head>
        <title>Listagem</title>
        <link rel='stylesheet' href='/stylessheet/style.css' />
    </head>
    <body>
        <h1>Pagina de Listagem</h1>
        <table border='1'>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
            <% for (item of lista) { %>
                <tr>
                    <td><%= item.nome %></td>
                    <td><%= item.email %></td>
                </tr> 
                
            <% } %>
            </tbody>
        </table>
        <p><a href='/'>Voltar para o inicio</a></p>
   
    </body>
</html>