<!DOCTYPE html>
<html>
    <head>
        <title>Mensagem</title>
        <link rel='stylesheet' href='/stylessheet/style.css' />
    </head>
    <body>
        <h1>Pagina Mensagem</h1>
        <p><%= mensagem %></p>
    </body>
</html>